GIT_REPO_PATH=./
GIT_DEFAULT_BRANCH=main
GITHUB_TOKEN=
GITHUB_REPO=Ssazurov/git-doc-sync-agent
DOCS_DIR=./docs
CHROMA_DB_PATH=./db
SYNC_STATE_FILE=./db/sync_state.json
CHUNK_SIZE=1000
CHUNK_OVERLAP=150
OLLAMA_HOST=
